<script setup>
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import { onBeforeMount, computed } from 'vue'
import PostListItem from '../../components/PostListItem.vue'
import CreatePostForm from '../../components/CreatePostForm.vue'

const store = useStore()
const router = useRouter()

onBeforeMount(async () => {
    store.commit('clearPosts')
    if(!store.state.user.hasOwnProperty('id')){
      const success = await store.dispatch('fetchCurrentUser')
      if(success === null){
        router.push('/404')
      }
    }
    const success = await store.dispatch('fetchAllPosts')
    if(success === null){
      router.push('/404')
    }
    store.dispatch('sortPostsLatestFirst')
})

const posts = computed(() => store.getters.filteredPostsBySearchText)
const onKeyUp = (event) => {
  store.commit('setSearchText', event.target.value.trim())
}
</script>

<template>
  <main class="flex flex-col">
    <div class="page-header mb-3">
      <h1 class="page-heading">Timeline</h1>
    </div>

    <div class="m-auto mb-3">
      <input
        class="rounded px-2 py-1"
        type="text"
        placeholder="Search a post..."
        @keyup="onKeyUp"
      />
    </div>
    <div>
      <ul class="postList">
        <PostListItem v-for="post in posts" :key="post.id" :post="post" />
      </ul>
    </div>
  </main>
</template>

<style scoped>
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 2rem;
  color: #574850;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.postList{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn{
    background-color: #574850;
    color: white;
}
</style>