<script setup>
import { useStore } from 'vuex'
import { onBeforeMount, computed, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import ThreadListItem from '../../components/ViewThreadPostForm.vue'

const store = useStore()
const route = useRoute()
const router = useRouter()

const id = parseInt(route.params.id)

const replyText = ref('');
const replyError = ref(false);
const errorText = ref('');

onBeforeMount(async () => {
  store.commit('clearPosts')
  if (!store.state.user.hasOwnProperty('id')) {
    const success = await store.dispatch('fetchCurrentUser')
    if(success === null){
      router.push('/404')
    }
  }
  const success = await store.dispatch('fetchPostAndRepliesById', { id })
  if(success === null){
    router.push('/404')
  }
  store.dispatch('sortPostsEarliestFirst')
});

const replies = computed(() => store.getters.getAllPosts)
const postTitle = computed(() => store.state.posts[0])

const onReplyClick = async() => { //Unless errors are raised a reply is posted.
  replyError.value = false
  errorText.value = ''

  if(!userCanReply()){
    replyError.value = true
    errorText.value = 'You can only reply if you join!'
    return
  }

  if(replyText.value.length === 0){
    errorText.value = 'Your reply cannot be empty!'
    replyError.value = true
  }
  else if(replyText.value.length > 450){
    errorText.value = 'Your reply is too long! 450 character limit!'
    replyError.value = true
  }

  if(replyError.value){
    return;
  }

  const post = {}
  const replyTitle = `RE: ${postTitle.value.title}`
  post.title = replyTitle
  post.content = replyText.value
  post.timestamp = new Date()
  post.alumniUser = {id: store.state.user.id}
  post.replyParentId = id

  replyText.value = ''

  const success = await store.dispatch('createPost', {post})
  if(success === null){
    router.push('/404')
  }
}

const userCanReply = () => {
  if(store.state.posts[0].hasOwnProperty('alumniGroup') && store.state.user.alumniGroups.includes(store.state.posts[0].alumniGroup)){
    return true
  }
  else if(store.state.posts[0].hasOwnProperty('topic') && store.state.user.topics.includes(store.state.posts[0].topic)){
    return true
  }
  else if(store.state.posts[0].hasOwnProperty('targetUser') && (store.state.user.id === store.state.posts[0].targetUser || store.state.user.id === store.state.posts[0].alumniUser)){
    return true
  }
  else{
    return false
  }
}

</script>

<template>
  <main>
    <div class="page-header mb-14">
      <h1 class="page-heading">Thread</h1>
    </div>

    <div class="content">
      <div class="contentDiv">
        <div class="flex justify-center">
          <div class="card-header-title">
            <span class="text-2xl fw-bold">{{ postTitle?.title }}</span>
          </div>
        </div>
        <ThreadListItem
          v-for="(reply, index) in replies"
          :class="{ first: index === 0 }"
          :key="reply.id"
          :reply="reply"
        />
        <div class="card-header-reply mt-1">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              id="replyInput"
              placeholder="What would you like to say?"
              v-model="replyText"
            />
            <button @click="onReplyClick" class="btn">Reply</button>
          </div>
          <div class="error-message" v-if="replyError">{{errorText}}</div>
        </div>
      </div>
    </div>
  </main>
</template>

<style scoped>
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 2rem;
  color: #574850;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: -2rem;
}
.card-header-title {
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 5%);
  margin-bottom: 10px;
}
.contentDiv {
  background-color: white;
  border-radius: 5px;
  min-width: 60%;
  max-width: 60%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-header-reply {
  padding: 1.5rem 2rem;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
  border-radius: 0.3em;
}
.btn {
  background-color: #574850;
  color: white;
}

.error-message{
  margin-left: 6px;
  color: red;
  font-size: 14px;
}
</style>