<script setup>
import { onBeforeMount, computed, ref } from 'vue'
import { useStore } from 'vuex'
import GroupListItem from '../../components/GroupListItem.vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const store = useStore()

onBeforeMount(async () => {
  store.commit('clearGroups')
  const success = await store.dispatch('fetchAllGroups')
  if(success === null){
    router.push('/404')
  }
})

const groups = computed(() => store.getters.filteredGroups)
const show = ref(false)
const isGroupPrivate = ref(false)
const newGroupName = ref('')
const newGroupDescription = ref('')

//error variables
const groupNameError = ref(false)
const groupDescriptionError = ref(false)
const errorText = ref('')
const errorFound = ref(false)

async function createGroup() { //Group is created unless any errors are raised.
  groupNameError.value = false
  groupDescriptionError.value = false
  errorFound.value = false
  errorText.value = 'Required field!'

  if (newGroupName.value.length === 0) {
    groupNameError.value = true
    errorFound.value = true
  }
  if (newGroupDescription.value.length === 0) {
    groupDescriptionError.value = true
    errorFound.value = true
  }

  if(!errorFound.value){
    if(newGroupName.value.length > 20){
      groupNameError.value = true
      errorFound.value = true
      errorText.value = 'Too many characters!'
    }
    if(newGroupDescription.value.length > 100){
      groupDescriptionError.value = true
      errorFound.value = true
      errorText.value = 'Too many characters!'
    }
  }

  if (errorFound.value) {
    return
  }

  show.value = false
  const newGroup = {
    name: newGroupName.value,
    description: newGroupDescription.value,
    isPrivate: isGroupPrivate.value
  }

  const groupId = await store.dispatch('createAlumniGroup', {newGroup})
  if(groupId === null){
    router.push('/404')
  }
  
  router.push(`/groupDetail/${groupId}`)
}
</script>

<template>
  <main>
    <div class="page-header mb-3">
      <h1 class="page-heading">Groups</h1>
    </div>

    <div class="text-center">
      <button @click="show = !show" class="btn mb-3" type="button">
        New Group
      </button>
    </div>

    <div class="flex justify-center">
      <Transition>
        <div v-if="show" class="col-lg-3">
          <form class="card mb-4">
            <div class="card-body">
              <div class="col-sm-6 col-md-7">
                <div class="mb-3">
                  <label>Group Name</label>
                  <input
                    class="form-control mt-1"
                    placeholder="Group name"
                    v-model="newGroupName"
                  />
                  <span class="error-message" v-if="groupNameError">{{
                    errorText
                  }}</span>
                </div>
                <div class="mb-3">
                  <span>Private Group </span>
                  <input
                    type="checkbox"
                    id="checkbox"
                    v-model="isGroupPrivate"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div>
                  <label>Description</label>
                  <textarea
                    class="form-control mt-1"
                    rows="5"
                    placeholder="Description of the group"
                    v-model="newGroupDescription"
                  ></textarea>
                  <span class="error-message" v-if="groupDescriptionError">{{
                    errorText
                  }}</span>
                </div>
              </div>
            </div>

            <div class="card-footer text-end">
              <button @click="createGroup" class="btn" type="button">
                Create Group
              </button>
            </div>
          </form>
        </div>
      </Transition>
    </div>

    <ul class="groupList">
      <GroupListItem v-for="group in groups" :key="group.id" :group="group" />
    </ul>
  </main>
</template>

<style scoped>
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 2rem;
  color: #574850;
  margin-top: 3rem;
  margin-left: 3rem;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.groupList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  background-color: #574850;
  color: white;
}
.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
  border-radius: 1rem;
}
.error-message {
  margin-left: 6px;
  color: red;
  font-size: 14px;
}
</style>
