<script setup>
</script>

<template>
  <div>
    <h1>Oops! An Error Occurred.</h1>
    <h3>Something is broken! Try again later.</h3>
  </div>
</template>

<style scoped>
h1 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
div {
  padding-top: 5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
</style>