<script setup>
import { useStore } from 'vuex'
import { ref } from 'vue'
import 'bootstrap/dist/css/bootstrap.min.css'

const emit = defineEmits(['onPostSubmitted'])

const show = ref(false)
const titleError = ref(false)
const contentError = ref(false)
const errorFound = ref(false)
const store = useStore()
const title = ref('')
const content = ref('')
const errorText = ref('')

const onCreatePost = async () => { //When post is supposed to be created the functions is prepared with some default values.
  const newPost = {}
  titleError.value = false
  contentError.value = false
  errorFound.value = false

  if (title.value.length === 0) {
    titleError.value = true
    errorFound.value = true
  }
  if (content.value.length === 0) { //If either title or content is empty then error flags are raised.
    contentError.value = true
    errorFound.value = true
  }

   if(!errorFound.value){
     if(title.value.length > 96){
       titleError.value = true
       errorFound.value = true
       errorText.value = 'Too many characters!'
     }
     if(content.value.length > 450){ //If any field is too long error flags are raised.
       contentError.value = true
       errorFound.value = true
       errorText.value = 'Too many characters!'
     }
   }else{
     errorText.value = 'Required field!'
   }

   if(errorFound.value){
     return
   }

  newPost.title = title.value
  newPost.content = content.value
  title.value = ''
  content.value = ''
  show.value = !show.value

  emit('onPostSubmitted', newPost) //If no errors are found the post is created and dispatched to store action and the create post form is reset.
}
</script>

<template>
  <main>
    <div class="text-center">
      <button @click="show = !show" class="btn mb-3" type="button">
        New Post
      </button>
    </div>

    <div class="flex justify-center">
      <Transition>
        <div v-if="show" class="col-lg-3">
          <form class="card mb-4">
            <div class="card-body">
              <div class="col-sm-6 col-md-7">
                <div class="mb-3">
                  <label>Title</label>
                  <input
                    class="form-control mt-1"
                    placeholder="Title"
                    v-model="title"
                  />
                  <span class="error-message" v-if="titleError">{{
                    errorText
                  }}</span>
                </div>
              </div>
              <div class="col-md-12">
                <div>
                  <label>Content</label>
                  <textarea
                    class="form-control mt-1"
                    rows="5"
                    placeholder="Content of the post"
                    v-model="content"
                  ></textarea>
                  <span class="error-message" v-if="contentError">{{
                    errorText
                  }}</span>
                </div>
              </div>
            </div>

            <div class="card-footer text-end">
              <button @click="onCreatePost" class="btn" type="button">
                Create Post
              </button>
            </div>
          </form>
        </div>
      </Transition>
    </div>
  </main>
</template>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.btn {
  background-color: #574850;
  color: white;
}
.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
  border-radius: 1rem;
}
.error-message {
  margin-left: 6px;
  color: red;
  font-size: 14px;
}
</style>