<script setup>
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import 'bootstrap/dist/css/bootstrap.min.css'

const props = defineProps({
  group: {
    type: Object,
    required: true,
  },
})

const store = useStore()
const router = useRouter()

const onGroupClick = (group) => {
  router.push(`/groupDetail/${group.id}`)
}

const joinGroupOnClick = async(groupId) => { //Dispatches to API a request that adds user to the group.
  const userId = store.state.user.id
  const success = await store.dispatch('joinGroup', {groupId, userId})
  if(success === null){
    router.push('/404')
  }
}
</script>

<template>
  <div class="contentDiv">
    <div class="card mb-4">
      <div class="card-body text-left">
        <h3 class="mb-3 cursor-pointer" @click="onGroupClick(group)">
          {{ group.name }}
        </h3>
        <p class="mb-4 cursor-pointer" @click="onGroupClick(group)">
          {{ group.description }}
        </p>
        <p
          class="material-icons float-end mt-1 mr-2"
          v-if="store.state.user.alumniGroups.includes(group.id)"
        >
          check
        </p>
        <button
          @click="joinGroupOnClick(group.id)"
          class="btn float-end"
          type="button"
          v-if="!store.state.user.alumniGroups.includes(group.id)"
        >
          Join
        </button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 0.5rem;
}
h3,
.h3 {
  font-size: 1.575rem;
}
.contentDiv {
  width: 50%;
}
.btn {
  background-color: #574850;
  color: white;
}

.material-icons {
  font-size: 2rem;
}
</style>