<script setup>
import { Menu, MenuButton, MenuItems, MenuItem } from '@headlessui/vue'
import { logoutKeycloak } from '../main'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

const store = useStore()
const router = useRouter()
const homeOnCLick = () => {
  router.push('/')
}
const userDetailOnCLick = () => {
  router.push(`/userDetail/${store.state.user.id}`)
}
const userSettingsOnCLick = () => {
  router.push('/userSettings')
}
const groupsOnCLick = () => {
  router.push('/groups')
}
const topicsOnCLick = () => {
  router.push('/topics')
}
const dashboardOnCLick = () => {
  router.push('/dashboard')
}

const logoutOnClick = () => {
  localStorage.clear('keycloakToken')
  logoutKeycloak()
}
</script>

<template>
  <nav class="flex justify-between item py-3 px-4 sticky top-0">
    <div><a class="cursor-pointer" @click="homeOnCLick">
      <span class="material-icons text-white"> school </span>
      <span class="text-white">Alumni Network</span>
    </a>
    </div>
    <Menu as="div" class="menu relative">
      <MenuButton>
        <span
          class="
            block
            material-icons
            text-white
            rounded-full
            overflow-hidden
            border-2 border-gray-300"
        >
          account_circle
        </span>
      </MenuButton>

      <MenuItems
        class="absolute right-0 bg-white rounded-md shadow-lg border w-48"
      >
        <MenuItem>
          <a 
            @click="userDetailOnCLick"
            class="hover:bg-gray-100 block px-4 py-2 text-sm text-gray-500 cursor-pointer"
            >Profile</a
          >
        </MenuItem>

         <MenuItem>
          <a 
            @click="dashboardOnCLick"
            class="hover:bg-gray-100 block px-4 py-2 text-sm text-gray-500 cursor-pointer"
            >Dashboard</a
          >
        </MenuItem>


        <MenuItem>
          <a
          @click="userSettingsOnCLick"
            class="hover:bg-gray-100 block px-4 py-2 text-sm text-gray-500 cursor-pointer"
            >Profile Settings</a
          >
        </MenuItem>

        <MenuItem>
          <a
          @click="groupsOnCLick"
            class="hover:bg-gray-100 block px-4 py-2 text-sm text-gray-500 cursor-pointer"
            >Groups</a
          >
        </MenuItem>

        <MenuItem>
          <a
          @click="topicsOnCLick"
            class="hover:bg-gray-100 block px-4 py-2 text-sm text-gray-500 cursor-pointer"
            >Topics</a
          >
        </MenuItem>

        <MenuItem>
          <a
            @click="logoutOnClick"
            class="hover:bg-gray-100 block px-4 py-2 text-sm text-red-600 cursor-pointer"
            >Logout</a
          >
        </MenuItem>
      </MenuItems>
    </Menu>
  </nav>
</template>

<style scoped>
nav {
  background-color: #574850;
  z-index: 1;
}
.menu{
  z-index: 10;
}
</style>