<script setup>
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import 'bootstrap/dist/css/bootstrap.min.css'

const props = defineProps({
  post: {
    type: Object,
    required: true,
  },
})

const store = useStore()
const router = useRouter()

const onPostClick = (post) => {
  router.push(`/thread/${post.id}`)
}
const onGroupClick = (post) => {
  router.push(`/groupDetail/${post.alumniGroup}`)
}
const onUserClick = (post) => {
  router.push(`/userDetail/${post.alumniUser}`)
}
const onTopicClick = (post) => {
  router.push(`/topicDetail/${post.topic}`)
}
</script>

<template>
  <div class="contentDiv">
    <div class="card mb-4">
      <div class="card-body text-left">
        <p>{{ post.timestamp }}</p>
        <h3 class="cursor-pointer" @click="onPostClick(post)">
          {{ post.title }}
        </h3>
        <p class="float-end cursor-pointer mt-3" @click="onUserClick(post)">
          Author {{ post.alumniUser }}
        </p>
        <p
          class="cursor-pointer mt-3"
          @click="onTopicClick(post)"
          v-if="post.hasOwnProperty('topic')"
        >
          {{ "[Topic: " + post.topic + "] " }}
        </p>
        <p
          class="mt-3 cursor-pointer" @click="onGroupClick(post)"
          v-if="store.state.user.alumniGroups.includes(post.alumniGroup)"
        >
          {{ "[Group: " + post.alumniGroup + "] " }}
        </p>

        <p class="mt-3" v-if="post.hasOwnProperty('targetUser')">
          {{ "[Direct Message]" }}
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped>
.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 0.5rem;
}
h3,
.h3 {
  font-size: 1.575rem;
}
.contentDiv {
  width: 50%;
}
.btn {
  background-color: #574850;
  color: white;
}

.material-icons {
  font-size: 2rem;
}
</style>
