<script setup>
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import 'bootstrap/dist/css/bootstrap.min.css'

const props = defineProps({
  topic: {
    type: Object,
    required: true,
  },
})

const store = useStore()
const router = useRouter()

const onTopicClick = (topic) => {
  router.push(`/topicDetail/${topic.id}`)
}

const joinTopicOnClick = async(topicId) => { //Dispatches to API a request that adds user to the topic.
  const userId = store.state.user.id
  const success = await store.dispatch('joinTopic', {topicId, userId})
  if(success === null){
    router.push('/404')
  }
}
</script>

<template>
  <div class="contentDiv">
    <div class="card mb-4">
      <div class="card-body text-left">
        <h3 class="cursor-pointer" @click="onTopicClick(topic)">
          {{ topic.name }}
        </h3>
        <p>{{ topic.description }}</p>
        <p
          class="material-icons float-end mt-1 mr-2"
          v-if="store.state.user.topics.includes(topic.id)"
        >
          check
        </p>
        <button
          @click="joinTopicOnClick(topic.id)"
          class="btn float-end"
          type="button"
          v-if="!store.state.user.topics.includes(topic.id)"
        >
          Join
        </button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 0.5rem;
}
h3,
.h3 {
  font-size: 1.575rem;
}
.contentDiv {
  width: 50%;
}
.btn {
  background-color: #574850;
  color: white;
}
</style>
