<script setup>
import 'bootstrap/dist/css/bootstrap.min.css'
import { computed, onBeforeMount } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import PostListItem from './PostListItem.vue'

const store = useStore()
const router = useRouter()

onBeforeMount(async () => {
  store.commit('clearPosts')
  const id = store.state.user.id
  const success = await store.dispatch('getPostsDirectedToUserWithId', {id})
  if(success === null){
    router.push('/404')
  }
  store.dispatch('sortPostsLatestFirst')
})

const posts = computed(() => store.getters.filteredPreFilteredPosts)

const onKeyUp = (event) => {
  store.commit('setSearchText', event.target.value.trim())
}
</script>

<template>
<ul class="postList mt-9">
  <div class="m-auto mb-3">
      <input
        class="rounded px-2 py-1"
        type="text"
        placeholder="Search a post..."
        @keyup="onKeyUp"
      />
    </div>
  <PostListItem v-for="post in posts" :key="post.id" :post="post" />
  </ul>
</template>

<style scoped>
.postList{
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
