<script setup>
import { ref } from 'vue';
import { useStore } from 'vuex';
import 'bootstrap/dist/css/bootstrap.min.css';
import { useRouter } from 'vue-router';

const store = useStore()
const router = useRouter()
const names = ref('')
const workStatus = ref('')
const bio = ref('')
const funFact = ref('')
const error = 'Required field!'

const namesError = ref(false)
const workStatusError = ref(false)
const bioError = ref(false)
const funFactError = ref(false)

const errorFound = ref(false)
const changesWereMade = ref(false)

const onClickUpdate = async () => { //When user updates data in settings form a bunch of control variables are reset first.
  namesError.value = false
  workStatusError.value = false
  bioError.value = false
  funFactError.value = false
  errorFound.value = false
  changesWereMade.value = false

  const userChanges = {}
  if(names.value.length === 0 && !store.state.user.hasOwnProperty('name')){
    namesError.value = true
    errorFound.value = true
  }
  if(workStatus.value.length === 0 && !store.state.user.hasOwnProperty('status')){
    workStatusError.value = true
    errorFound.value = true
  }
  if(bio.value.length === 0 && !store.state.user.hasOwnProperty('bio')){
    bioError.value = true
    errorFound.value = true
  }
  if(funFact.value.length === 0 && !store.state.user.hasOwnProperty('funFact')){ //If the user lacks these four fields the user is required to fill them, else error flags are raised.
    funFactError.value = true
    errorFound.value = true
  }
  if(errorFound.value){
    return
  }
  if (names.value.length > 0) {
    userChanges.name = names.value
    changesWereMade.value = true
  }
  if (workStatus.value.length > 0) {
    userChanges.status = workStatus.value
    changesWereMade.value = true
  }
  if (funFact.value.length > 0) {
    userChanges.funFact = funFact.value
    changesWereMade.value = true
  }
  if (bio.value.length > 0) {
    userChanges.bio = bio.value
    changesWereMade.value = true
  }
  if(changesWereMade.value){ //Changes are dispatched to API and updated.
    const success = await store.dispatch('changeUserDetails', {userChanges})
    if(success === null){
      router.push('/404')
    }
    const id = store.state.user.id
    router.push(`/userDetail/${id}`)
  }
}
</script>

<template>
  <div class="page-holder">
    <div class="container-fluid px-lg-4 px-xl-5 contentDiv">
      <section>
        <div class="row flex justify-center">
          <div class="col-lg-4">
            <form @submit.prevent="onSubmit" class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6 col-md-7">
                    <div class="mb-4">
                      <label class="form-label" for="names" aria-label="Names"
                        >Name</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        id="names"
                        placeholder="Name"
                        v-model="names"
                      />
                      <span class="error-message" v-if="namesError">{{error}}</span>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-12">
                    <div class="mb-4">
                      <label
                        class="form-label"
                        for="workStatus"
                        aria-label="Work Status"
                        >My Work Status</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        id="workStatus"
                        placeholder="What do you do?"
                        v-model="workStatus"
                      />
                      <span class="error-message" v-if="workStatusError">{{error}}</span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-4">
                      <label
                        class="form-label"
                        for="funFact"
                        aria-label="Fun Fact"
                        >Fun Fact About Me</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        id="funFact"
                        placeholder="Tell a fun fact about yourself"
                        v-model="funFact"
                      />
                      <span class="error-message" v-if="funFactError">{{error}}</span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-0">
                      <label class="form-label" for="bio" aria-label="Bio"
                        >My Bio</label
                      >
                      <textarea
                        class="form-control"
                        rows="5"
                        placeholder="Tell something about yourself"
                        v-model="bio"
                      ></textarea>
                      <span class="error-message" v-if="bioError">{{error}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-end">
                <button @click="onClickUpdate" class="btn" type="button">
                  Update Profile
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<style scoped>
.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}
.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 1rem;
}
.contentDiv {
  padding-top: 2rem;
}
.btn {
  background-color: #574850;
  color: white;
}
.error-message{
  margin-left: 6px;
  color: red;
  font-size: 14px;
}
</style>