<script setup>
import 'bootstrap/dist/css/bootstrap.min.css'
import { useStore } from 'vuex'
import { useRoute, useRouter } from 'vue-router'
import { computed, onBeforeMount } from 'vue'
import CreatePostForm from '../components/CreatePostForm.vue'

const route = useRoute()
const router = useRouter()
const store = useStore()
const id = parseInt(route.params.id)

onBeforeMount(async () => {
  store.commit('clearUsers')
  const success = await store.dispatch('fetchUserById', {id})
  if(success === null){
    router.push('/404')
  }
})

const user = computed(() => store.state.users[0])

const createPost = async (post) => { //Receives newly created post from component and finishes it and dispatches it to API.
  post.targetUser = id
  post.timestamp = new Date()
  post.alumniUser = { id: store.state.user.id }
  const success = await store.dispatch('createPost', {post})
  if(success === null){
    router.push('/404')
  }
}
</script>

<template>
  <div class="container-fluid px-lg-4 px-xl-5 contentDiv">
    <section>
      <div class="row flex justify-center">
        <div class="col-lg-5">
          <div class="card card-profile mb-4">
            <div
              class="card-header"
              style="
                background-image: url(https://www.marjon.ac.uk/media/2018-website-images-gdpr/alumni/alumni-header-1.jpg)
              "
            ></div>
            <div class="card-body text-center">
              <h3 class="mb-3">{{ user?.name }}</h3>
              <p class="mb-4">{{ user?.status }}</p>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3">
                <p class="font-bold">Fun Fact About Me</p>
                <p class="mb-4">{{ user?.funFact }}</p>
                <label class="font-bold">Bio</label>
                <p>{{ user?.bio }}</p>
              </div>
            </div>
          </div>
        </div>
        <div v-if="id != store.state.user.id" class="row flex justify-right">
          <Transition
            ><CreatePostForm @onPostSubmitted="createPost"
          /></Transition>
        </div>
      </div>
    </section>
  </div>
</template>

<style scoped>
.card-header {
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}
.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 1rem;
}

h3,
.h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.card-profile-img {
  max-width: 8rem;
  margin-top: -6rem;
  margin-bottom: 1rem;
  border: 3px solid white;
  border-radius: 100%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%);
}
.contentDiv {
  padding-top: 1em;
  background-color: #c7c1c1;
}
.card-profile .card-header {
  height: 9rem;
  background-position: center center;
  background-size: cover;
}
</style>