<script setup>
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { ref } from 'vue'

const props = defineProps({
  reply: {
    type: Object,
    required: true,
  },
})

const store = useStore()
const router = useRouter()

const edit = ref(false)
const editText = ref(props.reply.content)
const editError = ref(false)
const errorText = ref('')

const onUserClick = (reply) => {
  router.push(`/userDetail/${reply.alumniUser}`)
}

const editPost = () => {
  edit.value = !edit.value
}

const onEditSubmission = async () => { //User is able to update their posts, controls are performed and update executed if no error is raised.
  errorText.value = 'Post may not be empty!'
  editError.value = false;

  if (editText.value.length === 0) {
    editError.value = true
  } else if (editText.value.length > 450) {
    editError.value = true
    errorText.value = 'Too many characters!'
  }

  if (editError.value) {
    return
  }

  const post = {}
  edit.value = false
  post.content = editText.value
  const id = props.reply.id
  const success = await store.dispatch('editPost', { id, post })
  if(success === null){
    router.push('/404')
  }
  }
</script>

<template>
  <div class="container-fluid pt-0">
    <div class="row flex justify-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="list-group-item py-2 border-0">
            <div class="ps-2">
              <small class="float-right fw-bold">{{ reply.timestamp }}</small>
              <h5 class="fw-bold mb-1">{{ reply.title }}</h5>
              <div class="text-muted text-sm mb-1">{{ reply.content }}</div>
              <small class="cursor-pointer" @click="onUserClick(reply)"
                >Author {{ reply.alumniUser }}</small
              >
              <div>
                <button
                  class="float-right btn"
                  type="button"
                  @click="editPost"
                  v-if="reply.alumniUser === store.state.user.id"
                >
                  Edit
                </button>
              </div>
              <div v-if="edit" class="">
                <div class="input-group">
                  <textarea
                    class="form-control"
                    type="text"
                    id="editInput"
                    placeholder="What would you like to say?"
                    v-model="editText"
                  />
                </div>
                <button @click="onEditSubmission" class="btn mt-1">
                    Done
                  </button>
                  <span class="error-message" v-if="editError">
                    {{ errorText }}
                  </span>
              </div>
              <hr class="mt-10" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.card {
  border: none;
}
.text-sm {
  font-size: 0.9rem;
}
.list-group-item {
  border-radius: 0px;
}
.btn {
  background-color: #574850;
  color: white;
}
.card-header-reply {
  padding: 1.5rem 2rem;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
  border-radius: 0.3em;
}

.error-message{
  margin-left: 6px;
  color: red;
  font-size: 14px;
}
</style>