<script setup>
    import { useStore } from 'vuex'
    import { useRoute, useRouter } from 'vue-router'
    import { computed, onBeforeMount } from 'vue'
    import PostListItem from '../../components/PostListItem.vue'
    import CreatePostForm from '../../components/CreatePostForm.vue'

    const store = useStore()
    const route = useRoute()
    const router = useRouter()
    const id = parseInt(route.params.id)

    onBeforeMount(async () => {
        store.commit('clearPosts')
        store.commit('clearTopics')
        let success = await store.dispatch('fetchTopicById', {id})
        if(success === null){
            router.push('/404')
        }
        success = await store.dispatch('fetchPostsByTopicId', {id})
        if(success === null){
            router.push('/404')
        }
        store.dispatch('sortPostsLatestFirst')
    })

    const posts = computed(() => store.getters.filteredPreFilteredPosts)
    const topic = computed(() => store.state.topics[0])
    const userTopics = computed(() => store.state.user.topics)

    const onKeyUp = (event) => {
        store.commit('setSearchText', event.target.value.trim())
    }

    const createPost = async (post) => {
        post.topic = {id: id}
        post.timestamp = new Date()
        post.alumniUser = {id: store.state.user.id}
        const success = await store.dispatch('createPost', {post})
        if(success === null){
            router.push('/404')
        }
        store.dispatch('sortPostsLatestFirst')
    }
</script>

<template>
    <main class="flex flex-col">
        <div class="page-header mb-3">
      <h1 class="page-heading">Posts in <b class="topicName">{{topic?.name}}</b></h1>
    </div>
    <Transition v-if="userTopics?.includes(id)"><CreatePostForm @onPostSubmitted="createPost" /></Transition>
        <div class="m-auto mb-3">
            <input class="rounded px-2 py-1" type="text" placeholder="Search a post..." @keyup="onKeyUp">
        </div>
        <div>
            <ul class="postList">
                <PostListItem v-for="post in posts" :key="post.id" :post="post" />
            </ul>
        </div>
    </main>
</template>

<style scoped>
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 2rem;
  color: #574850;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.postList{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topicName{
    border-bottom: #574850 1px solid;
}
</style>