<script setup>
import { onBeforeMount, computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import TopicListItem from '../../components/TopicListItem.vue'

const store = useStore()
const router = useRouter()

onBeforeMount(async () => {
  store.commit('clearTopics')
  const success = await store.dispatch('fetchAllTopics')
  if(success === null){
    router.push('/404')
  }
})

const topics = computed(() => store.getters.getTopics)
const show = ref(false)
const newTopicName = ref('')
const newTopicDescription = ref('')

//error variables
const topicNameError = ref(false)
const topicDescriptionError = ref(false)
const errorText = ref('')
const errorFound = ref(false)

async function createNewTopic() { //A new topic is created unless errors are raised.
  topicNameError.value = false
  topicDescriptionError.value = false
  errorFound.value = false
  errorText.value = 'Required field!'

  if (newTopicName.value.length === 0) {
    topicNameError.value = true
    errorFound.value = true
  }
  if (newTopicDescription.value.length === 0) {
    topicDescriptionError.value = true
    errorFound.value = true
  }

  if(!errorFound.value){
    if(newTopicName.value.length > 20){
      topicNameError.value = true
      errorFound.value = true
      errorText.value = 'Too many characters!'
    }
    if(newTopicDescription.value.length > 100){
      topicDescriptionError.value = true
      errorFound.value = true
      errorText.value = 'Too many characters!'
    }
  }

  if (errorFound.value) {
    return
  }

  show.value = false
  const newTopic = {
    name: newTopicName.value,
    description: newTopicDescription.value
  }

  const topicId = await store.dispatch('createTopic', {newTopic})
  if(topicId === null){
    router.push('/404')
  }

  router.push(`/topicDetail/${topicId}`)
  
}
</script>

<template>
  <main>
    <div class="page-header mb-3">
      <h1 class="page-heading">Topics</h1>
    </div>

    <div class="text-center">
      <button @click="show = !show" class="btn mb-3" type="button">
        New Topic
      </button>
    </div>

    <div class="flex justify-center">
      <Transition>
        <div v-if="show" class="col-lg-3">
          <form class="card mb-4">
            <div class="card-body">
              <div class="col-sm-6 col-md-7">
                <div class="mb-3">
                  <label>Topic Name</label>
                  <input
                    class="form-control mt-1"
                    placeholder="Topic name"
                    v-model="newTopicName"
                  />
                  <span class="error-message" v-if="topicNameError">{{
                    errorText
                  }}</span>
                </div>
              </div>
              <div class="col-md-12">
                <div>
                  <label>Description</label>
                  <textarea
                    class="form-control mt-1"
                    rows="5"
                    placeholder="Description of the topic"
                    v-model="newTopicDescription"
                  ></textarea>
                  <span class="error-message" v-if="topicDescriptionError">{{
                    errorText
                  }}</span>
                </div>
              </div>
            </div>

            <div class="card-footer text-end">
              <button @click="createNewTopic" class="btn" type="button">
                Create Topic
              </button>
            </div>
          </form>
        </div>
      </Transition>
    </div>
    <ul class="topicList">
      <TopicListItem v-for="topic in topics" :key="topic.id" :topic="topic" />
    </ul>
  </main>
</template>

<style scoped>
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 2rem;
  color: #574850;
  margin-top: 3rem;
  margin-left: 3rem;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.topicList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  background-color: #574850;
  color: white;
}
.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
  border-radius: 1rem;
}
.error-message {
  margin-left: 6px;
  color: red;
  font-size: 14px;
}
</style>
