<script setup>
import UserDashBoardForm from "../../components/UserDashBoardForm.vue"
</script>

<template>
  <main>
    <div class="page-header mb-3">
      <p class="page-heading">Dashboard</p>
      <p class="myPosts">My Received posts</p>
    </div>
    <UserDashBoardForm />
  </main>
</template>

<style scoped>
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 2rem;
  color: #574850;
  margin-top: 3rem;
  margin-left: 3rem;
}
.myPosts {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 1.3rem;
  color: #574850;
  margin-left: 3rem;
}
</style>