<script setup>
import { onBeforeMount } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import UserSettingsForm from '../../components/UserSettingsForm.vue'

const store = useStore()
const router = useRouter()

onBeforeMount(async () => {
  if(!store.state.user.hasOwnProperty('id')){
    const success = await store.dispatch('fetchCurrentUser')
    if(success === null){
      router.push('/404')
    } 
  }
})
</script>

<template>
  <main>
    <div class="page-header mb-4">
      <h1 class="page-heading">Edit Your Settings</h1>
    </div>
    <UserSettingsForm />
  </main>
</template>

<style scoped>
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 2rem;
  color: #574850;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
</style>