<script setup>
import UserDetailProfile from '../../components/UserDetailProfile.vue'
</script>

<template>
  <main>
    <div class="page-header mb-3">
        <h1 class="page-heading">Profile</h1>
      </div>
    <UserDetailProfile/>
  </main>
</template>

<style scoped>
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 2rem;
  color: #574850;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
</style>